.header {
  margin: 0;
  background-color: #2e2e33;
  border-bottom: solid 1px #38363a; }
  .header__wrapper {
    width: 1000px;
    margin: 0 auto; }
  .header__logo {
    display: inline-block;
    padding-top: 15px;
    width: 300px;
    position: relative; }
  .header__btn-menu {
    display: none;
    padding-top: 7px;
    vertical-align: top;
    width: 20px;
    height: 14px; }
    .header__btn-menu .grey {
      background-color: #5f5c67;
      height: 2px; }
    .header__btn-menu .black {
      background-color: #2e2e33;
      height: 2px; }
  .header__btn-menu-close {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 280px; }
  .header__menu {
    vertical-align: top;
    font-size: 16px;
    font-family: "ProximaNova Regular", sans-serif;
    display: inline-block;
    float: right; }
  .header__menu-link {
    text-decoration: none;
    color: #ffffff; }
  .header__menu-link:hover {
    color: #79a0d8; }
  .header__menu-item {
    display: inline-block;
    padding: 10px 0px;
    margin: 15px 0px 15px 35px; }
  .header__menu-item:last-child {
    margin-right: 0px;
    margin-left: 45px; }
  .header__download-btn {
    text-decoration: none;
    background-color: #5e9ffb;
    color: #ffffff;
    width: 129px;
    height: 32px;
    border-radius: 8px;
    padding: 10px 27px;
    box-shadow: 0 2px 2px #4e6e9b; }
  .header__download-btn:hover {
    background-color: #458df4; }

.red_circle {
  background-color: red;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 4px; }

.info-block1 {
  margin: 0;
  background-color: #e9e9e9; }
  .info-block1__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative; }
  .info-block1__title {
    max-width: 425px;
    font-family: 'ProximaNova Semibold', sans-serif;
    color: #353035;
    font-size: 30px;
    padding-top: 78px;
    margin: 0;
    line-height: 1.55; }
  .info-block1 .red_line {
    width: 20px;
    height: 20px;
    border-bottom: solid #c75056 3px;
    margin-bottom: 20px; }
  .info-block1__text {
    max-width: 500px;
    color: #353035;
    font-family: 'ProximaNova Regular', sans-serif;
    font-size: 18px;
    padding-bottom: 108px;
    line-height: 1.55; }
  .info-block1__image {
    position: absolute;
    top: 15px;
    left: 600px; }

.info-block2 {
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff; }
  .info-block2__wrapper {
    background: url("../img/mac.png") 44px 75px no-repeat;
    max-width: 1000px;
    margin: 0 auto;
    position: relative; }
  .info-block2__title {
    word-break: break-word;
    max-width: 442px;
    font-family: "ProximaNova Semibold", sans-serif;
    color: #353035;
    font-size: 30px;
    padding-top: 90px;
    padding-left: 500px;
    margin: 0;
    position: relative;
    line-height: 1.35; }
  .info-block2__text {
    max-width: 500px;
    color: #353035;
    font-family: "ProximaNova Regular", sans-serif;
    font-size: 18px;
    padding-bottom: 90px;
    padding-left: 500px;
    line-height: 1.35; }
  .info-block2__image {
    position: absolute;
    top: -1056px;
    left: -400px; }
  .info-block2 .red_line {
    width: 20px;
    height: 20px;
    border-bottom: solid #c75056 3px;
    margin-bottom: 20px; }
  .info-block2 .red_line_position {
    margin-left: 500px; }

.pricing {
  background-color: #e9e9e9;
  height: 470px; }
  .pricing__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px; }
  .pricing__text_block {
    display: inline-block;
    width: 300px;
    float: left; }
  .pricing .red_line {
    width: 20px;
    height: 0px;
    border-bottom: solid #c75056 2px; }
  .pricing__title {
    max-width: 300px;
    font-family: 'ProximaNova Semibold', sans-serif;
    color: #353035;
    font-size: 28px;
    line-height: 1.15;
    padding: 0 0 25px 0; }
  .pricing__list-item {
    max-width: 300px;
    color: #353035;
    font-family: 'ProximaNova Regular', sans-serif;
    font-size: 18px;
    line-height: 14px;
    padding: 0 0 20px 0; }
  .pricing__list-item:first-child {
    padding: 30px 0 20px 0; }
  .pricing__list-item:last-child {
    padding: 0 0 80px 0; }
  .pricing__plans {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 38px; }
    .pricing__plans-item {
      position: relative;
      width: 310px;
      height: 100px;
      border-radius: 5px;
      border: solid 1px #efefef;
      box-shadow: 0 1px 5px #c9cbce;
      margin: 0 0 15px 0; }
      .pricing__plans-item:hover {
        cursor: pointer; }
    .pricing__plans-item:first-child {
      margin: 4px 0 15px 0; }
  .pricing .wrapper_circle {
    background-color: #f7f7f7;
    display: inline-block;
    border-right: solid 1px #efefef;
    width: 88px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .pricing .white_color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid #e3e5e8 1px;
    background-color: white;
    margin: 39px auto; }
  .pricing .red_color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #da5259;
    margin: 5px auto;
    display: none; }
  .pricing .wrapper_text {
    width: 215px;
    height: 100px;
    display: inline-block;
    vertical-align: top; }
  .pricing .plan_text {
    color: #635e63;
    font-family: 'ProximaNova Regular', sans-serif;
    font-size: 18px;
    margin: 24px auto;
    width: 130px;
    line-height: 1.25; }
  .pricing .price {
    color: #353035;
    font-family: 'ProximaNova Bold', sans-serif;
    font-size: 30px;
    font-weight: 600; }
  .pricing .months {
    color: #353035;
    font-family: 'ProximaNova Bold', sans-serif;
    font-size: 18px;
    font-weight: 600; }
  .pricing__quantity {
    margin-top: 4px;
    display: inline-block;
    vertical-align: top;
    width: 310px;
    height: 215px;
    border-radius: 5px;
    border: solid 1px #efefef;
    box-shadow: 0 1px 5px #c9cbce;
    float: right; }
    .pricing__quantity-logo {
      background: url("../img/ablogo.png") 67px 16px no-repeat;
      width: 310px;
      height: 65px;
      border-bottom: solid 1px #efefef; }
    .pricing__quantity-counter {
      width: 310px;
      height: 65px;
      border-bottom: solid 1px #efefef;
      background-color: #fbfbfb; }
      .pricing__quantity-counter p {
        display: inline-block;
        padding: 25px 33px; }
      .pricing__quantity-counter #quantity {
        display: inline-block;
        margin-left: 20px;
        outline: none;
        background-color: white;
        border: solid grey 1px; }
    .pricing__quantity-btn {
      border-top: solid 1px #efefef;
      background-color: #fbfbfb;
      padding: 25px 29px; }
      .pricing__quantity-btn .btn_location {
        margin: 7px 0px; }
      .pricing__quantity-btn .activate_btn {
        color: white;
        background-color: #5e9ffb;
        text-align: center;
        width: 244px;
        height: 47px;
        padding: 15px 58px;
        font-family: "ProximaNova Semibold", sans-serif;
        font-size: 18px;
        border-radius: 5px;
        text-decoration: none;
        box-shadow: 0px 2px 3px #2e2e33; }
      .pricing__quantity-btn .activate_btn:hover {
        background-color: #458df4; }

.pricing__plans-item.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #da5259;
  box-shadow: 0 1px 5px #c9cbce;
  border-radius: 5px; }

.pricing__plans-item.active .red_color {
  display: block; }

.legalinfo {
  background-color: #2e2e33;
  height: 100px; }
  .legalinfo__wrapper {
    max-width: 1000px;
    margin: 0 auto; }
  .legalinfo__text {
    display: inline-block;
    max-width: 230px;
    font-family: "ProximaNova Regular", sans-serif;
    color: #65656a;
    font-size: 14px;
    padding-top: 40px; }
  .legalinfo__list {
    display: inline-block;
    float: right; }
  .legalinfo__list-item {
    display: inline-block;
    padding: 40px 20px; }
  .legalinfo__list-item:last-child {
    padding-right: 0; }
  .legalinfo__list-link {
    color: #9a9a9c;
    font-family: "ProximaNova Regular", sans-serif;
    font-size: 14px;
    text-decoration: none; }

@media only screen and (max-width: 640px) {
  .header__wrapper {
    width: 300px; }
  .header__logo {
    padding-top: 10px; }
    .header__logo .img-logo {
      width: 135px;
      height: 30px;
      margin-right: 140px; }
  .header__btn-menu {
    display: inline-block; }
  .header__menu {
    display: none;
    float: none; }
  .header__menu-item {
    width: 300px;
    text-align: center;
    display: block;
    padding: 30px 0px;
    margin: 0;
    border-bottom: solid 1px #38363a; }
  .header__menu-item:last-child {
    margin: 0;
    padding: 55px 0; }
  .header__menu-item:first-child {
    border-top: solid 1px #38363a; }
  .info-block1 {
    margin: 0;
    background-color: #e9e9e9; }
    .info-block1__wrapper {
      max-width: 300px; }
    .info-block1__title {
      padding: 50px 0 30px 0px;
      margin-left: 10px;
      line-height: 1.45; }
    .info-block1 .red_line {
      height: 0px;
      margin-bottom: 38px;
      margin-left: 10px; }
    .info-block1__text {
      padding-bottom: 357px;
      margin-left: 10px;
      max-width: 285px; }
    .info-block1__image {
      top: 480px;
      left: 0px; }
  .info-block2 {
    border-bottom: 1px solid #e6e6e6;
    background-color: #ffffff; }
    .info-block2__wrapper {
      background: url("../img/mac.png") -30px 430px no-repeat;
      max-width: 300px; }
    .info-block2__title {
      max-width: 230px;
      padding-top: 60px;
      padding-left: 10px;
      padding-bottom: 30px; }
    .info-block2__text {
      max-width: 275px;
      padding-left: 10px;
      padding-bottom: 315px;
      padding-top: 35px; }
    .info-block2__image {
      position: absolute;
      top: -1056px;
      left: -400px; }
    .info-block2 .red_line {
      height: 0;
      margin-bottom: 0; }
    .info-block2 .red_line_position {
      margin-left: 10px; }
  .pricing {
    height: 1100px; }
    .pricing__wrapper {
      max-width: 300px; }
    .pricing__text_block {
      width: 300px;
      float: none; }
    .pricing__plans {
      margin: 0 0 0 0; }
      .pricing__plans-item {
        width: 300px; }
    .pricing .wrapper_text {
      width: 205px; }
    .pricing__quantity {
      width: 300px;
      float: none; }
      .pricing__quantity-logo {
        width: 300px; }
      .pricing__quantity-counter {
        width: 300px; }
        .pricing__quantity-counter #quantity {
          display: inline-block;
          margin-left: 20px;
          outline: none;
          background-color: white;
          border: solid grey 1px; }
      .pricing__quantity-btn {
        padding: 25px 24px; }
  .legalinfo {
    height: 180px; }
    .legalinfo__wrapper {
      max-width: 300px;
      position: relative; }
    .legalinfo__text {
      display: block;
      position: absolute;
      top: 90px;
      left: 35px; }
    .legalinfo__list {
      margin-left: 0px;
      float: none; }
    .legalinfo__list-item {
      padding: 40px 15px 30px; }
    .legalinfo__list-item:last-child {
      padding: 0px 0 75px 130px; } }
